<head>
    <link rel="stylesheet" href="../../reset.css">
    <link rel="stylesheet" href="../../main.css">

</head>
<span class="d-flex justify-content-center m-3"> Данные о поставщике: </span>
<table class="table table-bordered table-center mr-auto ml-auto">
    <tr class="bg-secondary">
        <th>Наименование организации</th>
        <th>Тип</th>
        <th>УНП</th>
        <th>Юридический адрес</th>
        <th>Настоящий адрес</th>
        <th>Номер телефона</th>
        <th> ФИО владельца</th>
        <th><button type="button" class="btn btn-primary" onClick='location.href="/add_customers"'>Добавить</button>
 </th>
    </tr>
    {{#each data}}
        <tr class='bg-info'>
            <td align="center">{{Name}}</td>
            <td>{{Type}}</td>
            <td>{{UNP}}</td>
            <td>{{{Legal_address}}}</td>
            <td>{{{Actual_address}}}</td>
            <td>{{{Tel}}}</td>
            <td>{{{Person}}}</td>
        </tr>
    {{/each}}
</table>