{{#if data}}
По вашему запросу мы нашли:
{{#each data}}
    <a link href="./{{{../section}}}s/{{_id}}">
        {{#if FIO}} 
        {{{FIO}}}
        {{else}}
        {{{Name}}}
        {{/if}} 
    </a>
{{/each}}
{{else}}
По вашему запросу ничего не найдено.
{{/if}}